[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = "*"
django = {version = "~=4.2", extras = ["argon2"]}
django-cors-headers = "*"
django-csp = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-permissions-policy = "*"
django-rich = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = {version = "*", extras = ["with_social"]}
gunicorn = "*"
httpx = "*"
hypothesis = "*"
openai = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sentry-sdk = "*"
whitenoise = {version = "*", extras = ["brotli"]}

[dev-packages]
black = "*"
django-stubs = "*"
django-test-migrations = "*"
djangorestframework-stubs = "*"
flake8 = "*"
inotify = "*"
ipython = "*"
isort = "*"
model-bakery = "*"
mypy = "*"
pre-commit = "*"
ptpython = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-xdist = "*"
respx = "*"

[requires]
python_version = "3.10"
