[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = "*"
django = {version = "~=4.2", extras = ["argon2"]}
django-anymail = {version = "*", extras = ["mailgun"]}
django-cors-headers = "*"
django-csp = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-permissions-policy = "*"
django-rich = "*"
django-storages = {version = "*", extras = ["google"]}
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = {version = "*", extras = ["with_social"]}
drf-spectacular = "*"
gunicorn = "*"
httpx = "*"
hypothesis = "*"
pillow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sentry-sdk = "*"
whitenoise = {version = "*", extras = ["brotli"]}

[dev-packages]
black = "*"
djangorestframework-types = "==0.7.1"
django-types = "*"
hypothesis = "*"
inotify = "*"
ipython = "*"
model-bakery = "*"
pre-commit = "*"
ptpython = "*"
pyright = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-structlog = "*"
pytest-xdist = "*"
reorder-python-imports = "*"
requests-mock = "*"
respx = "*"
ruff = "*"
isort = "*"

[requires]
python_version = "3.11"
